<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Main content is divided into three columns</title>
</head>
<body>
    <!--header-->
    <div class="header">
        <h1>Header</h1>
        <p>Resize the browser window to see the responsive effect</p>
    </div>  <!--end of header-->

    <!--navigation-->
    <div class="top-nav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>  <!--end of navigation-->

    <!--main content-->
    <div class="row">
        <div class="column">
            <h3>Column</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.</p>
        </div>

        <div class="column">
            <h3>Column</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.</p>
        </div>

        <div class="column">
            <h3>Column</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.</p>
        </div>
    </div> <!--end of main content-->

    <div class="footer">
        <h1>Footer</h1>
    </div>
</body>
</html>