* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 50px;
}

.custom-menu {
    position: relative;
}

.notification {
    position: relative;
    background-color: #3C8DBC;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    line-height: 20px;
}

.notification:hover {
    background: #367FA9;
}

.notification .badge {
    position: absolute;
    top: 6px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    background-color: #00a65a;
    line-height: .9;
}


.dropdown-menu {
    display: none;
    position: absolute;
    right: 57%;
    left: auto;
    border: 1px solid #dddddd;
    background: #ffffff;
}

.dropdown-menu .header {
    padding: 4px 10px;
    border-bottom: 1px solid #dddddd;
    color: #444444;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
}

.dropdown-menu .menu {
    max-height: 200px;    
    padding: 10px 0;
    list-style: none;
    overflow-x: hidden;
    border-bottom: 1px solid #f4f4f4;
}

.dropdown-menu .menu>li>a {
    display: block;
    padding: 10px;    
}

.pull-left {
    float: left!important;
}

img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 48px;
    border: 0;
    vertical-align: middle;
    float: left;
}

.img-circle {
   /* white-space: nowrap; */
    border-radius: 50%;   
}

.msg-title {
    position: relative;
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    display: block;
}

.msg-content {
    color: #888888;
    margin: 0 0 0 45px;
    font-size: 12px;
    width: 215px;
}

.clock-img {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: -12px;
    right: 0;
}

.footer {
    padding: 4px 0px;
    color: #444444!important;
    font-size: 14px;
    text-align: center;
}
